.lessonListWrapper {
  padding: 24px;
  padding-top: 50px;
  min-height: 100vh;
  background-color: #f9f9fb;

  .pageTitle {
    margin-bottom: 16px;
    color: #7a52aa;
    text-align: center;
  }

  .chapterDesc {
    font-style: italic;
    margin-bottom: 12px;
  }
.lessonCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Chỉ hiển thị 3 cột
  gap: 16px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); // Tablet: 2 cột
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr; // Mobile: 1 cột
  }
}


  .lessonCard {
    border-radius: 12px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-4px);
    }

    .ant-card-cover img {
      height: 100px;
      object-fit: cover;
    }
  }
}
